.form {
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    grid-column: 2 / 3;
    margin-top: 2em;
    width: 50%;
}

input.form__input {
    padding: 1em 0.5em;
}

textarea.form__input {
    height: 200px;
    padding: 0.5em;
}

.form__legend {
    text-align: center;
    font-size: 2rem;
}